



<%# <%= f.fields_for :invoice_products, @invoice.invoice_products.build do |ff| %>
  <tr id="row-0">
    <%= ff.hidden_field :_destroy %>
    <th scope="row" id="product-num" colspan="1"></th>

    <div class="field">
      <td colspan="5"><%= ff.select :product_id, options_from_collection_for_select(Product.all, :id, :name) %></td>
    </div>

    <div class="field">
      <td><%= ff.text_field :quantity, class: 'col-md-3' %></td>
    </div>

    <div class="field">
      <td><%= ff.text_field :total, class: 'col-md-3' %></td>
    </div>

    <div class="field">
      <td><%= link_to "Delete", "#", class: 'remove-field' %></td>
    </div>
  </tr>

<%# <% end %>
