
  <tr id="row-0">
    <th scope="row" id="product-num" colspan="1">0</th>
    <td colspan="5"><%= product_field.select :product_ids, options_from_collection_for_select(current_user.products, :id, :name) %></td>
    <td><%= product_field.text_field :quantity, class: 'col-md-3' %></td>
    <td><%= product_field.text_field :total, class: 'col-md-3' %></td>
    <td><%= link_to "Delete", "#", class: 'remove-field' %></td>
    <%= product_field.hidden_field :_destroy, as: :hidden %>
  </tr>
