<%= form_for invoice do |f| %>

  <div class="row">

    <div class="col">
      <h4>Users Business Name</h4>
      <address class="">
        1 Address Here City, State 00000 (user address)
      </address>
    </div>

    <div class="col">
      <span class="inline-headers">
        <h2>Invoice ID: <%= invoice.id ||= Invoice.all.count+1 %>  </h2>
      </span>

    </div>
  </div>

  <div class="row">
    <div class="col">
      <h4>Bill To</h4>

      <% if !!params[:account_id] %>
        <%= f.select(:account_id, Client.all.collect {|c| [c.name, c.id]}, {prompt: "Select", selected: params[:account_id], disable: true}) %>
      <% else %>
        <div class="field">
          <%= f.select(:account_id, current_user.clients.collect {|c| [c.name, c.id]}, prompt: "Select") %>
        </div>
      <% end %>
    </div>

    <div class="col">
      <div class="field">
        <h5>Date Created: <%= f.date_field  :created_at, value: Time.now.strftime('%Y-%m-%d')  %></h5>
      </div>
      <br>
        <div class="field">
          <h5>Date Due: <%= f.date_field :due_time, value: (Time.now+7*86400).strftime('%Y-%m-%d') %> </h5>
        </div>
    </div>
  </div>

  <div class="row border border-dark">
    <div class="col">
      <center>
        <h4>Main Content</h4>
      </center>

      <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col" colspan="5">Product</th>
            <th scope="col">Quantity</th>
            <th scope="col">Amount</th>
          </tr>
        </thead>

        <%= link_to "Add Product", add_field_path(format: :js), {method: :post, remote: true, id: "addProductBtn"} %>
        <tbody id="table-body" class="fields" >

          <%= f.fields_for :invoice_products, @invoice.invoice_products.build do |ff| %>
            <%= render partial: 'field', locals: {ff: ff } %>
          <% end %>


        </tbody>

      </table>


    </div>
  </div>

  <div class="row border border-dark">

    <div class="col">

    </div>

    <div class="col">
      <div class="row">
        <div class="col">
          Sub Total:
        </div>
        <div class="col">
          <!--  we need to fix the precision on the totals at some point -->
          $
        </div>
      </div>

      <div class="row">
        <div class="col">
          Grand Total Due:
        </div>
        <div class="col">
          <!--  we need to fix the precision on the totals at some point -->
          $
        </div>
      </div>
    </div>
  </div>


  <div class="row action">
    <div class="col-10">
    </div>

    <div class="float-right col-2">
      <%= f.submit class: 'btn btn-primary' %>
    </div>

  </div>


<% end %>
