

<h1 class="text-center">Create new Invoice</h1>

<% if current_user.clients.count < 1 %>

  <div class="alert alert-danger">
    You have no clients to select yet! <br>
    Please <%= link_to "create a client", new_client_path %> before creating a invoice!
  </div>

<% elsif current_user.products.empty? %>

  <div class="alert alert-danger">
    You have no products to add to a invoice yet!
    Please <%= link_to "create a product", new_product_path %> before creating a invoice!
  </div>

<% end %>

<div class="invoice mt-5">

  <%= form_for @invoice do |f| %>

    <div class="row">

      <div class="col">
        <h4>Users Business Name</h4>
        <address class="">
          1 Address Here City, State 00000 (user address)
        </address>
      </div>

      <div class="col">
        <span class="inline-headers">
          <h2>Invoice ID: <%= f.text_field :id, class: 'inline-headers col-md-2', value: Invoice.all.count+1 %>  </h2>
        </span>

      </div>
    </div>

    <div class="row">
      <div class="col">
        <h4>Bill To</h4>
        <%= f.select(:account_id, current_user.clients.collect {|c| [c.name, c.id]}, prompt: "Select") %>
      </div>

      <div class="col">
        <h5>Date Created: <%= f.date_field  :created_at, value: DateTime.now  %></h5>
        <br>
        <h5>Date Due: <%= f.date_field :due_time, value: DateTime.now %> </h5>
      </div>
    </div>

    <div class="row border border-dark">
      <div class="col">
        <center>
          <h4>Main Content</h4>
        </center>

        <table class="table table-dark">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col" colspan="5">Product</th>
              <th scope="col">Quantity</th>
              <th scope="col">Amount</th>
            </tr>
          </thead>


          <tbody id="table-body" >

            <%= render partial: 'field', locals: {f: f} %>

            <div class="hidden" id="newField">

              <%= render partial: 'field', locals: {f: f} %>
            </div>


            <a href="#" class="btn btn-primary" id="field-generator">Add Product</a>
          </tbody>


        </table>


      </div>
    </div>

    <div class="row border border-dark">

      <div class="col">

      </div>

      <div class="col">
        <div class="row">
          <div class="col">
            Sub Total:
          </div>
          <div class="col">
            <!--  we need to fix the precision on the totals at some point -->
            $
          </div>
        </div>

        <div class="row">
          <div class="col">
            Grand Total Due:
          </div>
          <div class="col">
            <!--  we need to fix the precision on the totals at some point -->
            $
          </div>
        </div>
      </div>
    </div>


    <div class="row action">
      <div class="col-10">
      </div>

      <div class="float-right col-2">
        <%= f.submit class: 'btn btn-primary' %>
      </div>

    </div>


  <% end %>

</div>


<script type="text/javascript">

  document.addEventListener("DOMContentLoaded", function(){

    var tBody = document.getElementById("table-body");
    var row = tBody.firstElementChild;
    var btn = document.getElementById("field-generator");
    var watchEvent = btn.addEventListener('click', function(event){
      var newRow = row.cloneNode(true);

      newRow.children[0].innerHTML = tBody.rows.length;
      newRow.id = "row-"+tBody.rows.length;
      tBody.appendChild(newRow);
    }, false);

  });

  function removeRow(btn) {
    row = btn.parentNode.parentNode;
    row.parentNode.removeChild(row);
  }

</script>



<!-- <script type="text/javascript">
  function addField(){
    var tBody = document.getElementById("table-body");

    var tRow = tBody.insertRow(0);

    var rowID = tRow.insertCell(0);
    rowID.innerHTML = tBody.rows.length;

    var rowProduct = tRow.insertCell(1);
    var str = "product_form.options(:product_id, current_user.products.collect {|p| [p.name, p.id]})";
    rowProduct.innerHTML = ` ${str} `;

    var rowDescription = tRow.insertCell(2);
    rowDescription.innerHTML = "This is description";

    var rowQty = tRow.insertCell(3);
    rowQty.innerHTML = 1;

    var rowRate = tRow.insertCell(4);
    rowRate.innerHTML = "RATE";

    var rowAmount = tRow.insertCell(5);
    rowAmount.innerHTML = "Total"

  }

</script> -->
