
<div class="row">
  <div class="col-8 p-5">
    <b>Name:</b> &nbsp; <h3><%= client.name  %></h3><br>

    <b>Business Name:</b> &nbsp; <h3><%= client.business_name %></h3><br>

    <b>Email:</b> &nbsp; <h3><%= client.email %></h3><br>

    <b>Phone Number:</b> &nbsp; <h3><%= client.phone_number %></h3><br>

    <b>Address:</b> &nbsp; <h3><%= client.address %></h3><br>

    <b>Created On:</b> &nbsp; <h3><%= client.created_at %></h3><br>

  </div>

</div>

<hr>
