
<% if @clients %>
  <% @clients.each do |client| %>

    <b>Name:</b> <%= client.name  %><br>

    <b>Business Name:</b> <%= client.business_name %><br>

    <b>Email:</b> <%= client.email %><br>

    <b>Phone Number:</b> <%= client.phone_number %><br>

    <b>Address:</b> <%= client.address %><br>

    <b>Created On:</b> <%= client.created_at %><br>

    <hr>

  <% end %>

<% else %>
  <h2>No Clients to Display!</h2>
<% end %>
