<style media="screen">
  .invoice { background: inherit; border: none; box-shadow: none }
  header{ margin-bottom: 15px }
</style>


<div class="form-signin mb-3 modal-content bg-dark text-white border-primary">
  <h1 class="text-center text-primary">Sign In</h1>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field form-label-group">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control rounded-pill col-10 m-auto text-center', placeholder: 'Email' %>
    </div>

    &nbsp;

    <div class="field form-label-group">
      <%= f.password_field :password, autocomplete: "current-password", class: 'form-control rounded-pill col-10 m-auto text-center', placeholder: 'Password' %>
    </div>

    &nbsp;

    <div class="row m-auto col-6">

          <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>

          <div class="actions mx-auto">
            <%= f.submit "Log in", class: 'btn btn-primary' %>
          </div>
    </div>

  <% end %>

  <%= render "devise/shared/links" %>

</div>
