<div class="alert alert-info">
  Welcome to Invoicer App!
  To produce a invoice you must first
  <ol>
    <li>Create some <%= link_to "products", new_product_path %> to populate invoices with</li>
    <li>Create an <%= link_to "account", new_account_path %> and assign a client OR create a new client within the account form </li>
    <li>You can also create additional <%= link_to "new clients", new_client_path %> without assigning a account.</li>
  </ol>
  Then you may start generating <%= link_to "new invoices", new_invoice_path %> that can then be sent to the client via email.
  Clients then may choose to either <span class="text-primary">accept</span> or <span class="text-danger">reject</span> the invoice and
  the response will show in your <%= link_to "invoices page", invoices_path %>.
</div>
