
<div class="field">
  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control', placeholder: 'Product Name' %>
</div>

<div class="field">
  <%= f.label :description %>
  <%= f.text_area :description, class: 'form-control', placeholder: 'Product Description' %>
</div>

<div class="field">
  <%= f.label :price %>
  <%= f.number_field :price, class: 'form-control col-4', placeholder: '$' %>
</div>


<div class="row">
  <div class="col-8">
  </div>

  <div class="col-4">
    <div class="action mt-4">
      <%= f.submit class: 'btn btn-primary' %>
    </div>    
  </div>
</div>
