<!DOCTYPE html>
<html>
  <head>
    <title>Invoicer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'true' %>
    <link href="https://fonts.googleapis.com/css?family=Exo+2&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  </head>

  <header>
    <%= render partial: 'application/nav' %>
  </header>


  <body>

    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key == 'alert' ? "danger" : "primary" %>"><%= value.class == Array ? value.first : value %></div>
      <% end %>


      <div class="invoice">
        <% unless request.path == "/" %>
          <a href="" class="btn btn-info" onclick="window.history.back();">Back</a>
        <% end %>

        <%= yield %>
      </div>
    </div>

  </body>

  <a target="_blank" href="https://github.com/mikeg1440/Invoicer-App"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png" alt="Fork me on GitHub"></a>

  <footer>
    &nbsp;Copyright ©2020 Invocer App
  </footer>
</html>
