<!DOCTYPE html>
<html>
  <head>
    <title>Invoicer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'true' %>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  </head>

  <header>
    <%= render partial: 'application/nav' %>
  </header>


  <body>

    <div class="container p-5">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key == 'alert' ? "danger" : "primary" %>"><%= value.class == Array ? value.first : value %></div>
      <% end %>


      <div class="invoice">
        <%= yield %>
      </div>
    </div>

  </body>
</html>
