

<div class="field">
  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control col-5', placeholder: "Name" %>
</div>

<div class="field">
  <%= f.label :business_name %>
  <%= f.text_field :business_name, class: 'form-control col-5', placeholder: "Business Name" %>
</div>

<div class="field">
  <%= f.label :email %>
  <%= f.email_field :email, class: 'form-control col-5', placeholder: "Email" %>
</div>

<div class="field">
  <%= f.label :phone_number %>
  <%= f.telephone_field :phone_number, class: 'form-control col-5', placeholder: "Phone Number" %>
</div>

<div class="field">
  <%= f.label :address %>
  <%= f.text_field :address, class: 'form-control col-5', placeholder: "Address" %>
</div>
