<%= form_for account do |f| %>

<%= render partial: 'account', locals: {f: f} %>

  <div class="row">
    <button type="button" id="showClients" onclick="showClients" hidden>Show Clients</button>
  </div>

  <div class="card mt-4">

    <div class="row">
      <div class="col m-4">

        <h5>Create New Client</h5>
        <%= f.fields_for :client, current_user.clients.build do |ff| %>

          <%= render partial: 'clients/form', locals: {f: ff} %>

        <% end %>


      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-9">
    </div>

    <div class="col-2 mt-3 action">
      <%= f.submit class: 'btn btn-primary' %>
    </div>

  </div>

<% end %>


<script type="text/javascript">

  var clientSelect = document.getElementById("client-select");

  clientSelector = document.getElementById("client-selector");
  newForm = document.getElementsByClassName("card")[0];
  // showClientBtn = document.getElementById("showClients");

  clientSelector.addEventListener('change', function(){
    newForm.hidden = true;
  });

  newForm.addEventListener('change', function(){
    clientSelector.hidden = true;
    clientSelect.hidden = true;
    // showClientBtn.hidden = false;
  });

  if (clientSelector.selectedIndex != 0){
    newForm.hidden = true;
  }

</script>
