<h1>Create New Account</h1>

<h4>Account User: <%= current_user.username %></h4>

<%= form_for @account do |f| %>

  <div class="field">
    <%= f.text_field :name, placeholder: 'Name', class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :client, 'Select Client: ' %>
    <%= f.collection_select(:client_id, Client.all, :id, :name, {prompt: true}, {class: 'custom-select', placeholder: 'Select Client'}) %>
  </div>

  <div class="action">
    <%= f.submit %>
  </div>

<% end %>
